<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>192.168.0.103</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>DANPC</MSDeployServiceURL>
    <DeployIisAppPath>tennisapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=(localdb)\Projects;Initial Catalog=GarminSensorApiDb;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GarminSensorApi.Models.ApplicationDbContext, GarminSensorApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GarminSensorApiDb" Order="2" Enabled="True">
          <Destination Path="Data Source=(localdb)\Projects;Initial Catalog=GarminSensorApiDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GarminSensorApi.Db.SensorDataContext, GarminSensorApi" MigrationConfiguration="GarminSensorApi.Migrations.Configuration, GarminSensorApi" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=(localdb)\Projects;Initial Catalog=GarminSensorApiDb;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GarminSensorApiDb-Web.config Connection String">
      <ParameterValue>Data Source=(localdb)\Projects;Initial Catalog=GarminSensorApiDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="GarminSensorApiDb" />
  </ItemGroup>
</Project>